.product-card {
    display: flex;
    flex-direction: column;

    width: 443px;
    height: max-content;

    &__image {
        width: 443px;
        height: 357px;

        & img {
            width: 100%;
            max-width: 443px;
        }
    }

    &__content {
        display: flex;
        flex-direction: column;

        justify-content: center;
        align-items: center;
    }
}

.content__title {
    margin-top: 50px;
    margin-bottom: 30px;

    &--link {
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 26px;

        text-align: center;
        text-decoration: none;

        color: #000000;
    }
}

.content__buy {

    width: 100%;

    form {
        display: flex;
    }
}

.btn {
    padding: 20px 35px;

    background: black;
    color: white;

    border-style: none;
    border-radius: 40px;

    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;

    &--buy {
        width: 100%;

        color: white;
        background: #4A97AF;
    }
}