.featured-products {

    &__title {
        margin-bottom: 80px;

        &-text {
            font-style: normal;
            font-weight: 800;
            font-size: 48px;
            line-height: 42px;

            text-align: center;

            color: #367488;
        }
    }

    &__wrapper {
        display: flex;
        flex-wrap: wrap;

        justify-content: center;

        gap: 89px;
    }
}

@media screen and (min-width: 1200px){
    .featured-products__wrapper {
        justify-content: space-between;
    }
}